<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html  %}

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/markdown.min.js"></script>
  
  </head> 
  
  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" ng-app="OpenJML" style="background-color: #FFF;">
      <div class="container" ng-controller="LilVerifyCtrl" >
	<div class="row"> 
	  <div class="col-md-5">
	    <img src="/images/logo.png" width="450"/>
	    
	  </div>
	  <div class="col-md-7"  id="codePreview">

	    <h1>Spekl is a Tool for Making Better Software</h1> 
            <p>Specifications, Static checkers, Runtime Assertion Checkers, and SMT-solvers &mdash; these tools can be used to make your software better. However, getting them to work together is often difficult and error-prone. Spekl is a platform for streamlining the process of authoring, installing, and using specifications and formal methods tools.</p>

	    <div align="center"> 
	      <p><a class="btn btn-success btn-lg" href="https://github.com/jsinglet/spekl-package-manager/releases" role="button">Download Spekl (Windows, Linux, & Mac)</a></p>
	      <p><a  href="http://docs.spekl-project.org">Read the Spekl Documentation</a> or <a  href="http://docs.spekl-project.org/en/latest/quickstart.html">The QuickStart</a></p>

	    </div> 
	  </div>
	</div>
      </div>  
    </div>     
 
    <div class="container">
      {{ content }}
      <hr>
      <footer>
	<p>&copy; 2015 &mdash; spekl-project.org &middot; This work was supported by the US National Science Foundation under grant CCF0916350</p>
      </footer>
    </div> <!-- /container -->


    {% include script-footer.html %}
  </body>
</html>

